<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Finger+Paint&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%=card.name%></title>
</head>
<style>
    body {
        font-family: 'Creepster', cursive;
        color: red;
        text-align: center;
        background-image: url('/assets/edit.jpg');
        background-size: 100vw 100vh;
        background-repeat:no-repeat;
    }
    h1 {
        font-family: 'Creepster', cursive;
        font-size: 3em;
        color: red;
    }
    a {
        text-decoration: none;
        color: #333;
        margin: 0 10px;
    }
    button {
        font-family: 'Playfair Display', serif;
        border-radius: 12px;
        background-color: yellow;
        color: black;
    }
</style>
<body>
    <h1>Edit A Card Posting</h1>

    <form action="/cards/<%=card._id%>?_method=PUT" method="POST">
        
        <label>Name:</label>
        <input type="text" name="name" value="<%=card.name%>"><br>

        <label>Number:</label>
        <input type="text" name="number" value="<%=card.number%>"><br>

        <label>Condition:</label>
        <input 
        type="text" 
        list="conditionl"
        name="condition" 
        required/>

        <datalist id="conditionl">
            <option value="M">
            <option value="NM">
            <option value="LP">
            <option value="MP">
            <option value="DMG">
            </datalist><br>
        <!--^ https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation -->
        <p>M: Mint <br>NM: Near Mint <br>LP: Lightly Played <br>MP: Moderately Played <br>DMG: Damaged</p>

        <label>Series:</label>
        <input type="text" name="series" value="<%=card.series%>"><br>

        <label>Is the condition of this card authenticated?</label>
        <input type="checkbox" name="isAuth" value="<%=card.isAuth%>"/><br>
        <label>Additional Comments:</label><br>
        <textarea id="message" required maxLength="75"></textarea><br>
        <button type="submit"><b>UPDATE <%=card.name%></b></button>
    </form>
</body>
</html>