<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <%=card.name%>
    </h1>
    <p>card number:
        <%=card.number%></p>
    <p>series:
        <%=card.series%></p>
    <p>condition:
        <%=card.condition%></p>
        
    <% if(card.isAuth){ %>
        <p>This card is authenticated by a verified source.</p>
    <% } else { %>
        <p>This card is <b>not</b> authenticated by a verified source.</p>
    <% } %>
    
    <a href="/cards">Back to the index</a>
    <a href="/cards/<%=card._id%>/edit">Edit this card</a>
</body>
</html>