<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Finger+Paint&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPK DB: <%=card.name%> Info</title>
</head>
<style>
    body {
        background-image: url('/assets/purp.jpg');
        background-size: 100vw 100vh;
        background-repeat: none;
        font-family: 'Creepster', cursive;
        color: red;
        text-align: center;
        
    }
    h1 {
        font-family: 'Creepster', cursive;
        font-size: 3em;
        color: red;
        text-shadow: black 2px 2px;
    }
    a {
        text-decoration: none;
        color: #333;
        margin: 0 10px;
    }

    button {
        font-family: 'Playfair Display', serif;
        border-radius: 12px;
        background-color: yellow;
        text-transform: uppercase;
    }

    p {
        color: yellow;
        text-shadow: green 2px 2px;
    }
</style>
<body>
    <nav></nav>
    <h1>
        <%=card.name%>
    </h1>
    <p>card number:
        <%=card.number%></p>
    <p>series:
        <%=card.series%></p>
    <p>condition:
        <%=card.condition%></p>
        
    <% if(card.isAuth){ %>
        <p>This card is authenticated by a verified source.</p>
    <% } else { %>
        <p>This card is <b>not</b> authenticated by a verified source.</p>
    <% } %>
    
    <a href="/cards">Index</a><br>
    <a href="/cards/<%=card._id%>/edit">Edit</a><br>
    <a href="/<%=card.series%>">View Cards added from series <%=card.series%></a><br>
    <a href="/">Home</a><br>
    <form action="/cards/<%=card._id%>?_method=DELETE" method="POST">
        <button type="submit"><b>Delete card <%=card.number%>, <%=card.name%></b></button>

</body>
</html>